<p class="admin">
  <a href="#">À propos</a> · <a href="#">Mentions légales</a> ·
  <a href="#">Conditions générales d'utilisation</a> ·
  <a href="#">Politique de Confidentialité</a> ·
  <a href="#">Partenaires et Soutiens</a> ·
  <a href="#">Contact</a>
</p>
<p class="rights">Planetapax • All rights reserved © 2025</p>
