<p class="admin">
  <a href="/mentions-legales">Mentions légales</a> ·
  <a href="/cgu">Conditions générales d'utilisation</a> ·
  <a href="/politique-de-confidentialite">Politique de Confidentialité</a> ·
  <a href="/partenaires">Partenaires</a> ·
  <a href="/contact">Contact</a>
</p>
<p class="rights">Planetapax • Tous droits réservés © 2025</p>
