<nav>
  <img
    onclick="openNav()"
    class="hamburger-menu"
    src="icons/menu.png"
    alt="menu"
  />
  <a href="/"><img class="logo" src="pictures/logo.png" alt="logo" /></a>
  <ul>
    <a href="/"><li>Accueil</li></a>
    <a href="/manifesto"> <li>Notre Manifesto</li></a>
    <a href="/faq"> <li>Foire Aux Questions</li></a>
  </ul>
  <div id="unique-sidenav" class="sidenav">
    <div class="centernav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="/">Accueil</a>
      <a href="/manifesto">Notre Manifesto</a>
      <a href="/faq">Foire Aux Questions</a>
    </div>
  </div>
</nav>
