<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="icons/favicon32x32.png" />
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main class="page">
      <h4 class="green">CONDITIONS GÉNÉRALES D'UTILISATION (CGU)</h4>
      <h2>1. Objet</h2>
      <p>
        Les présentes Conditions Générales d’Utilisation (ci-après « CGU ») ont
        pour objet de définir les modalités et conditions d’utilisation du
        réseau social Planetapax (ci-après « le Service »), ainsi que les droits
        et obligations des utilisateurs. En accédant au Service, l’utilisateur
        reconnaît avoir lu, compris et accepté les présentes CGU.
      </p>

      <h2>2. Accès au service</h2>
      <p>
        - Le Service est accessible gratuitement à toute personne disposant
        d’une connexion Internet et d’un appareil compatible. <br />
        - Planetapax se réserve le droit de limiter, suspendre ou interrompre
        l’accès au Service pour des raisons de maintenance, de mise à jour ou en
        cas de violation des présentes CGU.
      </p>
      <h2>3. Création de compte</h2>
      <p>
        - L’inscription nécessite la fourniture d’informations exactes (adresse
        e-mail, identifiant, mot de passe). <br />
        - Chaque utilisateur est responsable de la confidentialité de ses
        identifiants et de l’activité effectuée via son compte. <br />
        - Planetapax se réserve le droit de supprimer tout compte en cas de
        non-respect des présentes CGU.
      </p>

      <h2>4. Données et confidentialité</h2>
      <p>
        - Les données des utilisateurs sont gérées conformément à notre
        [Politique de confidentialité]. <br />
        - Les contenus publiés par les utilisateurs sont soumis au principe de
        données circulaires : ils disparaissent automatiquement après un certain
        délai.<br />
        - Planetapax ne revend, ne cède et ne loue aucune donnée personnelle à
        des tiers.
      </p>
      <h2>5. Règles de bonne conduite</h2>
      <p>
        L’utilisateur s’engage à : <br />
        - Respecter les lois et règlements en vigueur. <br />
        - Ne pas publier de contenus illicites, offensants, discriminatoires,
        diffamatoires ou portant atteinte aux droits d’autrui.
        <br />
        - Ne pas utiliser le Service à des fins frauduleuses, commerciales ou
        publicitaires sans autorisation. Respecter l’esprit écologique et
        responsable de Planetapax. Tout manquement pourra entraîner la
        suspension ou suppression du compte, sans préavis ni indemnité.
      </p>
      <h2>6. Propriété intellectuelle</h2>
      <p>
        - Planetapax conserve tous les droits de propriété intellectuelle liés à
        sa marque, son logo, son design. Son code source est sous licence MIT.
        <br />
        - L’utilisateur reste propriétaire de ses contenus publiés, mais accorde
        à Planetapax une licence temporaire et non exclusive permettant leur
        diffusion sur la plateforme, le temps de leur cycle de vie.
      </p>
      <h2>7. Responsabilité</h2>
      <p>
        - Planetapax met tout en œuvre pour assurer la disponibilité et la
        sécurité du Service, mais ne garantit pas l’absence d’erreurs, de bugs
        ou d’interruptions.<br />
        - Planetapax ne pourra être tenu responsable des contenus publiés par
        les utilisateurs. <br />
        - Chaque utilisateur est seul responsable des informations qu’il partage
        et des conséquences qui en découlent.
      </p>
      <h2>8. Suspension et résiliation</h2>
      <p>
        - Planetapax peut suspendre ou supprimer un compte en cas de non-respect
        des présentes CGU, ou si un comportement nuit à la communauté.<br />
        - L’utilisateur peut supprimer son compte à tout moment, ce qui entraîne
        la suppression définitive de ses données personnelles.
      </p>
      <h2>9. Modification des CGU</h2>
      <p>
        Planetapax se réserve le droit de modifier les présentes CGU afin de les
        adapter à l’évolution du Service ou aux exigences légales. Les
        utilisateurs seront informés des mises à jour importantes.
      </p>
      <h2>10. Droit applicable et juridiction compétente</h2>
      <p>
        Les présentes CGU sont régies par le droit français. Tout litige sera
        porté devant les juridictions compétentes du ressort du siège social de
        Planetapax, sauf disposition légale impérative contraire.
      </p>
    </main>
    <footer><%- include('partials/footer') %></footer>
    <script src="js/global.js" type="text/javascript"></script>
  </body>
</html>
