<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/manifest.css" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="icons/favicon32x32.png" />
  </head>
  <body>
    <header><%- include('partials/header') %></header>
    <main class="page">
      <div class="titles">
        <h4 class="green">NOTRE MANIFESTO</h4>
        <h2>Vers un engagement partagé</h2>
      </div>
      <img class="img-hero" src="pictures/care.png" />
      <p>
        Dans un monde où Internet est devenu omniprésent, il est facile
        d’oublier l’impact environnemental de nos activités numériques.
        Pourtant, si Internet était un pays, il serait le troisième plus grand
        pollueur de la planète, juste derrière les États-Unis et la Chine.
        Chaque recherche, chaque vidéo regardée, chaque message envoyé contribue
        à la consommation énergétique gigantesque des data centers et, par
        conséquent, à la pollution numérique. Face à cette réalité, rester les
        bras croisés n’est plus une option : il est urgent d’agir, de repenser
        notre manière de consommer le numérique et de choisir des alternatives
        responsables.
        <br /><br />

        C’est dans cette perspective que Planetapax, un réseau social écologique
        innovant, a été créé. Son concept est simple mais révolutionnaire : les
        données circulent et disparaissent après un certain temps. S'inspirant
        de la Nature, où rien n'est permanent mais tout est changeant, vos
        données ne persistent que le temps d'un partage. Contrairement aux
        plateformes traditionnelles qui accumulent des informations
        indéfiniment, Planetapax réduit ainsi la charge sur les serveurs,
        limitant la consommation énergétique et l’empreinte carbone liée au
        stockage massif de données. Cette approche circulaire des données
        transforme le numérique en un espace plus léger et durable, où chaque
        interaction laisse une empreinte minimale sur la planète.
        <br />
        <br />

        Mais Planetapax ne se contente pas d’être écoresponsable : il place
        également la protection des utilisateurs au cœur de ses valeurs. Sur
        cette plateforme, vos données personnelles ne sont jamais vendues à des
        entreprises tierces ni utilisées à des fins publicitaires intrusives.
        C’est un choix radical face aux réseaux sociaux traditionnels, où la
        monétisation des informations personnelles est devenue la norme. Avec
        Planetapax, chacun peut communiquer, partager et se connecter en ligne
        en toute confiance, tout en sachant que son empreinte numérique est
        réduite au minimum.

        <br /><br />Planetapax nous rappelle qu’il est possible de profiter des
        avantages du numérique sans sacrifier la planète. Il montre que le
        respect de l’environnement et des utilisateurs peut coexister
        harmonieusement. Rejoindre ce réseau social, c’est prendre une décision
        consciente : celle de contribuer à un Internet plus responsable, plus
        vert et respectueux de chacun. Car agir aujourd’hui, c’est garantir un
        avenir numérique durable pour demain. Ne pas agir serait accepter de
        laisser notre monde numérique continuer à polluer sans limites.

        <br /><br />Planetapax n’est pas seulement une alternative : c’est un
        message clair et un appel à l’action. Le numérique peut évoluer, devenir
        plus léger, plus transparent et plus respectueux de notre planète. Et
        chacun de nous peut choisir d’en faire partie.
      </p>
    </main>
    <footer><%- include('partials/footer') %></footer>
    <script src="js/global.js" type="text/javascript"></script>
  </body>
</html>
