.box {
  margin: 1.2rem 0 1.2rem 0;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion::after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2212";
}

.panel {
  padding: 0 1rem;
  background-color: white;
  max-height: 0;
  font-size: 0.9rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*Responsive design for tablets and mobiles */
@media (max-width: 900px) {
  .box {
    margin: 1rem 0 1rem 0;
  }
  .accordion {
    font-size: 0.8rem;
  }
}
